.mainBlock {
    height: 100vh;
    background-color: #4861d5;
}


.about {
    width: 300px;
    background-color: gray;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: gray;
}
